In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ssl
import fiona

In [7]:
single_familiy_home_transactions = pd.read_csv("total_dataset_efh_en.csv") #
apartment_transactions = pd.read_csv("total_dataset_STW_en.csv")
total_house_stock= pd.read_csv("total_dataset_GWR.csv")

In [19]:
hexbin = fiona.open("Hexbins_1sqkm/Hexbins.shp")

In [24]:
hexbin

## For single family homes

Let us find out which hexbins have the highest number of rooms, remember that status tells us about whether it is the real hexbin or not

In [42]:
single_familiy_home_transactions.dtypes.to_frame()

                            0
Unnamed: 0              int64
GRID_ID                object
year                    int64
recordid                int64
condemned_building      int64
cat_construction_year  object
cat_n_rooms            object
cat_living_area        object
cat_property_area      object
status                  int64

In [62]:
single_familiy_home_transactions.isnull().sum().to_frame()

                          0
Unnamed: 0                0
GRID_ID                   0
year                      0
recordid                  0
condemned_building        0
cat_construction_year   414
cat_n_rooms             801
cat_living_area        1398
cat_property_area         0
status                    0

So there are no 'NA's in recordid, showing that there are no hexagons with

In [70]:
single_familiy_home_transactions['GRID_ID'].value_counts().head(10)

AD-20    80
Z-18     72
K-38     72
AC-51    66
AJ-19    65
AG-20    62
AB-23    57
AO-41    57
AD-22    57
S-18     56
Name: GRID_ID, dtype: int64

In [106]:
single_familiy_home_transactions.dropna().groupby(["status"]).size()

status
1    10411
2       29
4        9
dtype: int64

## For apartments

The same for apartments

In [32]:
apartment_transactions.cat_n_rooms.unique()

array(['5', nan, '3', '4', '2', '6', '7+', '1'], dtype=object)

In [34]:
apartment_transactions.sort_values(by='cat_n_rooms',ascending='False').head()

,Unnamed: 0,GRID_ID,year,recordid,condemned_building,cat_contruction_year,cat_n_rooms,n_apartments_building,status,gkat,not_built
12392,15953,AD-22,2012,1015,0,1971-1980,1,18.0,1,1025.0,0.0
20134,26005,O-34,2014,3575,0,1971-1980,1,80.0,1,1030.0,0.0
15709,20807,N-34,2013,4436,0,1926-1950,1,10.0,1,1030.0,0.0
11158,14498,AQ-34,2012,1969,0,1981-1990,1,11.0,1,1025.0,0.0
15698,20796,K-34,2013,3496,0,1971-1980,1,18.0,1,1025.0,0.0

In [107]:
apartment_transactions.dropna().groupby(["status"]).size()

status
1    7608
dtype: int64