In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ssl
import fiona

In [7]:
single_familiy_home_transactions = pd.read_csv("total_dataset_efh_en.csv") #
apartment_transactions = pd.read_csv("total_dataset_STW_en.csv")
total_house_stock= pd.read_csv("total_dataset_GWR.csv")

In [16]:
single_familiy_home_transactions.head()

,Unnamed: 0,GRID_ID,year,recordid,condemned_building,cat_construction_year,cat_n_rooms,cat_living_area,cat_property_area,status
0,1163,X-55,2010,2221,0,-1850,6,181-230,1101+,1
1,1164,Z-55,2010,781,0,-1850,5,NaN,201-350,1
2,1165,Z-55,2010,2197,0,1991-2000,5,121-150,351-500,1
3,1166,Z-55,2010,2224,0,-1850,7,121-150,501-700,1
4,1167,AB-53,2010,455,0,NaN,NaN,NaN,501-700,1

In [17]:
apartment_transactions.head()

,Unnamed: 0,GRID_ID,year,recordid,condemned_building,cat_contruction_year,cat_n_rooms,n_apartments_building,status,gkat,not_built
0,8,Z-55,2010,3560,0,-1850,5,10.0,1,1025.0,0.0
1,15,AB-53,2010,271,0,1971-1980,NaN,3.0,1,1025.0,0.0
2,16,AB-53,2010,1695,0,1991-2000,3,5.0,1,1025.0,0.0
3,22,AD-52,2010,2619,0,2001-2010,3,21.0,1,1030.0,0.0
4,23,AD-52,2010,39,0,NaN,5,NaN,1,NaN,1.0

In [18]:
total_house_stock.head()

,Unnamed: 0,GRID_ID,EFH_2010,EFH_2011,EFH_2012,EFH_2013,EFH_2014,STW_2010,STW_2011,STW_2012,STW_2013,STW_2014
0,1,A-20,0,0,0,0,0,0,0,0,0,0
1,2,A-21,0,0,0,0,0,0,0,0,0,0
2,3,A-22,0,0,0,0,0,0,0,0,0,0
3,4,A-23,0,0,0,0,0,0,0,0,0,0
4,5,A-31,0,0,0,0,0,0,0,0,0,0

In [19]:
hexbin = fiona.open("Hexbins_1sqkm/Hexbins.shp")

In [21]:
hexbin

In [ ]:
pd.merge(left, right, left_on=key_or_keys, right_index=True,
      how='left', sort=False)